@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-BlackItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Heavy.eot");
  src: url("../fonts/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-MediumItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-HeavyItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-HeavyItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Thin.eot");
  src: url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Italic.eot");
  src: url("../fonts/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Italic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-LightItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-LightItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Black.eot");
  src: url("../fonts/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.eot");
  src: url("../fonts/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-ThinItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-UltraLight.eot");
  src: url("../fonts/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-UltraLight.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Druk Wide Medium Cy";
  src: url("../fonts/Druk_Wide_Medium_Cy.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk Wide Medium Cy";
  src: url("../fonts/Druk_Wide_Medium_Italic_Cy.otf");
  font-weight: normal;
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}
body .wrapper {
  overflow: hidden;
}
body .wrapper * {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
  font-family: "HelveticaNeueCyr", Helvetica Neue;
  font-size: inherit;
  font-weight: inherit;
}
.wrapper .icon .def-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.wrapper .icon-loc {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  filter: contrast(0) brightness(0);
  background-image: url(../images/loc.svg);
  width: 17px;
  height: 20.5px;
}
.wrapper .icon-grid {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-image: url(../images/cat.svg);
  width: 21px;
  height: 21px;
}
.wrapper .icon-search {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  filter: contrast(0) brightness(0);
  background-image: url(../images/search.svg);
  width: 17px;
  height: 23.16px;
}
.wrapper .icon-cart {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-image: url(../images/cart.svg);
  width: 20px;
  height: 21px;
}
.wrapper .icon-phone {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  background-image: url(../images/phone.svg);
  width: 17px;
  height: 17px;
}
.wrapper .icon-user {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  filter: contrast(0) brightness(0);
  background-image: url(../images/user.svg);
  width: 19px;
  height: 22.8px;
}
.wrapper .inner {
  width: calc(100% - 180px);
  margin: auto;
}
.wrapper .content {
  width: calc(100% - 400px);
  margin: auto;
}
.wrapper .tabs {
  position: relative;
}
.wrapper .tabs_link {
  position: relative;
}
.wrapper .tabs_link:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background: #c4c4c4;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(10px);
}
.wrapper .tabs_link:hover:not(.active):before {
  opacity: 1;
  transform: translateY(0px);
}
.wrapper .tabs_link.active:before {
  background: #ff570f !important;
  opacity: 1;
  transform: translateY(0px);
}
.wrapper .tabs_box {
  position: relative;
}
.wrapper .tabs .tab {
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.wrapper .tabs .tab:not(.active) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.wrapper .tabs .tab.active {
  opacity: 1;
}
.wrapper .btn .def {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
}
.wrapper .btn .def i {
  margin-right: 15px;
}
.wrapper .btn .def i.icon-cart {
  filter: invert(1) brightness(2);
}
.wrapper .btn .def:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 0.6s;
  z-index: -1;
  animation-fill-mode: forwards;
  transform: translateY(100%);
}
.wrapper .btn .def:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.wrapper .btn .def.ready:before {
  animation-name: BtnBlur;
}
.wrapper .btn .def:hover:before {
  animation-name: BtnHover;
}
.wrapper .btn-gray {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  color: #292929;
}
.wrapper .btn-gray i {
  margin-right: 15px;
}
.wrapper .btn-gray i.icon-cart {
  filter: invert(1) brightness(2);
}
.wrapper .btn-gray:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 0.6s;
  z-index: -1;
  animation-fill-mode: forwards;
  transform: translateY(100%);
}
.wrapper .btn-gray:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.wrapper .btn-gray.ready:before {
  animation-name: BtnBlur;
}
.wrapper .btn-gray:hover:before {
  animation-name: BtnHover;
}
.wrapper .btn-gray:before {
  background: #c4c4c4;
}
.wrapper .btn-gray:after {
  background: #e5e5e5;
}
.wrapper .btn-orange {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 75px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  position: relative;
  color: #ffffff;
}
.wrapper .btn-orange i {
  margin-right: 15px;
}
.wrapper .btn-orange i.icon-cart {
  filter: invert(1) brightness(2);
}
.wrapper .btn-orange:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 0.6s;
  z-index: -1;
  animation-fill-mode: forwards;
  transform: translateY(100%);
}
.wrapper .btn-orange:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.wrapper .btn-orange.ready:before {
  animation-name: BtnBlur;
}
.wrapper .btn-orange:hover:before {
  animation-name: BtnHover;
}
.wrapper .btn-orange:after {
  background: #ff570f;
}
.wrapper .btn-orange:before {
  background: #f34900;
}
@keyframes BtnHover {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes BtnBlur {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.wrapper {
  width: 100%;
  min-height: 200vh;
}
.wrapper .header {
  display: flex;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  z-index: 10;
}
.wrapper .header.scrolled {
  top: -70px;
}
.wrapper .header.scrolled .logo {
  height: 80px;
  margin-top: 70px;
}
.wrapper .header.scrolled .logo img {
  width: 123px;
  height: 42px;
}
.wrapper .header .logo {
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .header .logo img {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  height: 50px;
  width: 145px;
}
.wrapper .header .menu {
  border-right: 1px solid #e5e5e5;
  height: 100%;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .header .menu_item {
  height: 100%;
  font-size: 16px;
  line-height: 135%;
  color: #292929;
  margin: 0 10px;
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in-out;
}
.wrapper .header .menu_item:hover {
  color: #ff570f;
}
@media (max-width: 1150px) {
  .wrapper .header .menu {
    padding: 0 15px;
  }
  .wrapper .header .menu_item {
    font-size: 14px;
    margin: 0 5px;
  }
}
.wrapper .header .defBut {
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .header .phone {
  font-size: 20px;
  line-height: 135%;
  color: #ff570f;
  border-right: 0;
  width: 100%;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .header .phone-mob {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e5e5e5;
}
.wrapper .header .map {
  font-size: 20px;
  line-height: 135%;
  color: #ff570f;
  border-right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #292929;
  border-right: 1px solid #e5e5e5;
  transition: all 0.3s ease-in-out;
}
.wrapper .header .map-mob {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e5e5e5;
}
.wrapper .header .map i {
  margin-right: 10px;
}
.wrapper .header .map:hover {
  background: #f5f5f5;
  color: #ff570f;
}
.wrapper .header .map:hover i {
  filter: contrast(1) brightness(1);
}
.wrapper .header .catalog {
  font-size: 20px;
  line-height: 135%;
  color: #ff570f;
  border-right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e5e5e5;
  transition: all 0.3s ease-in-out;
}
.wrapper .header .catalog-mob {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #e5e5e5;
}
.wrapper .header .catalog i {
  margin-right: 20px;
}
.wrapper .header .catalog:hover {
  background: #ff570f;
  color: #ffffff;
}
.wrapper .header .catalog:hover i {
  filter: contrast(0) brightness(2);
}
.wrapper .header .search_input {
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 135%;
  border: 0;
  padding: 0 40px;
  color: #292929;
  height: auto;
}
.wrapper .header .search_input::placeholder {
  color: #8a8a8a;
}
.wrapper .header .search_but {
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: #f9f9f9;
  max-width: 100px;
  cursor: pointer;
}
.wrapper .header .search_but:hover i {
  filter: contrast(1) brightness(1);
}
.wrapper .header .cart {
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.wrapper .header .cart .count {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 135%;
  color: #292929;
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin-bottom: 6px;
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}
.wrapper .header .cart:hover {
  background: #ff570f;
}
.wrapper .header .cart:hover i {
  filter: contrast(0) brightness(2);
}
.wrapper .header .cart:hover .count {
  color: #ffffff;
}
.wrapper .header .user {
  height: 100%;
  border-right: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  transition: all 0.3s ease-in-out;
}
.wrapper .header .user:hover {
  background: #f5f5f5;
  color: #ff570f;
}
.wrapper .header .user:hover i {
  filter: contrast(1) brightness(1);
}
.wrapper .header .box_row {
  display: flex;
  width: 100%;
  height: 80px;
}
.wrapper .header .box_row:first-child {
  border-bottom: 1px solid #e5e5e5;
  height: 70px;
}
.wrapper .header .box_col .standart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .header .box_col-1 {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .header .box_col-2 {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .header .box_col-auto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .header .burger-but {
  position: relative;
}
.wrapper .header .burger-but span {
  display: block;
}
.wrapper .header .burger-but span .def {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
  width: 24px;
  height: 2px;
}
.wrapper .header .burger-but span:before {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
  width: 24px;
  height: 2px;
  margin-top: -3.5px;
}
.wrapper .header .burger-but span:after {
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
  width: 24px;
  height: 2px;
  margin-top: 3.5px;
}
.wrapper .header .only-mob {
  display: none;
}
@media (max-width: 1920px) and (min-width: 1800px) {
  .wrapper .header .box_col-1.cart {
    min-width: 180px;
  }
  .wrapper .header .box_col-1.user {
    min-width: 180px;
  }
  .wrapper .header .box_col-2.box_logo {
    min-width: 360px;
  }
  .wrapper .header .box_col-2.box_phone {
    min-width: 360px;
  }
}
@media (max-width: 1440px) {
  .wrapper .header .box_col-1 {
    min-width: 90px;
  }
  .wrapper .header .box_col-2 {
    min-width: 180px;
  }
}
@media (max-width: 1200px) {
  .wrapper .header .box_col-1 {
    min-width: 80px;
  }
  .wrapper .header .box_col-2 {
    min-width: 160px;
  }
}
@media (max-width: 950px) {
  .wrapper .header .box_col-1 {
    min-width: 50px;
  }
  .wrapper .header .box_col-2 {
    min-width: 120px;
  }
}
@media (max-width: 950px) {
  .wrapper .header {
    height: 50px;
  }
  .wrapper .header.scrolled {
    top: 0px;
  }
  .wrapper .header.scrolled .logo {
    height: 100%;
    margin-top: 0;
  }
  .wrapper .header.scrolled .logo img {
    width: 72px;
    height: 25px;
  }
  .wrapper .header .logo img {
    width: 72px;
    height: 25px;
  }
  .wrapper .header .only-mob {
    display: flex;
  }
  .wrapper .header .search_input {
    padding: 0 15px;
    font-size: 15px;
  }
  .wrapper .header .catalog,
  .wrapper .header .map,
  .wrapper .header .user,
  .wrapper .header .box_row:first-child {
    display: none;
  }
  .wrapper .header .box_row .box_col-2:nth-child(1),
  .wrapper .header .box_row .box_col-2:nth-child(2) {
    display: none;
  }
}
@media (max-width: 500px) {
  .wrapper .header .search_input {
    display: none;
  }
  .wrapper .header .box_logo {
    min-width: calc(100% - 200px);
  }
  .wrapper .header .box_logo .logo {
    border-right: 0;
    justify-content: flex-start;
  }
  .wrapper .header .box_logo .logo img {
    margin-left: 15px;
  }
}
.wrapper .page {
  padding-top: 150px;
}
@media (max-width: 950px) {
  .wrapper .page {
    padding-top: 50px;
  }
}
.wrapper .page .banner {
  padding-top: 80px;
  position: relative;
  height: 750px;
}
.wrapper .page .banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  height: 100%;
  z-index: 0;
}
.wrapper .page .banner_content {
  font-family: "Druk Wide Medium Cy";
  font-size: 48px;
  line-height: 130%;
  color: #292929;
  max-width: 780px;
  position: relative;
  z-index: 2;
}
.wrapper .page .banner_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.wrapper .page .banner_img img {
  min-height: 100%;
  min-width: 100%;
}
.wrapper .page .banner_word {
  position: absolute;
  bottom: 150px;
  right: 0;
  max-width: calc(50% - 50px);
  z-index: 1;
}
.wrapper .page .banner_word img {
  max-width: 100%;
}
.wrapper .page .banner_print {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80px);
  z-index: 1;
}
.wrapper .page .banner_print img {
  animation: rotatePrint 30s linear infinite;
  user-select: none;
  pointer-events: none;
}
@keyframes rotatePrint {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wrapper .page .banner_lines {
  position: absolute;
  bottom: 75px;
  right: 200px;
  width: calc(100% - 290px);
  z-index: 2;
}
.wrapper .page .banner_lines:before {
  content: "";
  display: block;
  height: 273px;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid #292929;
  animation: linesFadeInDown 1.5s forwards;
}
.wrapper .page .banner_lines span {
  position: absolute;
  width: 100%;
  height: 15px;
}
.wrapper .page .banner_lines span:before {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #292929;
  animation: linesFadeInRight 1.5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
.wrapper .page .banner_lines span:after {
  content: "";
  display: block;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #292929;
  animation: linesFadeInRight 1.5s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}
@keyframes linesFadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes linesFadeInDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.wrapper .page .choice {
  margin-left: -1px;
}
.wrapper .page .choice_box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  position: relative;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}
.wrapper .page .choice_box:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  left: calc(100% / 3 - 1px);
  position: absolute;
  background: #e5e5e5;
  z-index: -1;
}
.wrapper .page .choice_box:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  top: 0;
  z-index: -1;
  position: absolute;
  background: #e5e5e5;
  left: calc(100%/3 * 2);
}
.wrapper .page .choice_title {
  flex-basis: calc(100% / 3 * 2);
  margin-bottom: 90px;
  padding-left: 40px;
}
.wrapper .page .choice_title p {
  display: block;
  margin: 0;
  font-family: Druk Wide Medium Cy;
  font-size: 30px;
  line-height: 130%;
  color: #292929;
  max-width: 553px;
}
.wrapper .page .choice_item {
  flex-basis: calc(100% / 3);
  margin-bottom: 90px;
  padding-left: 70px;
  position: relative;
}
.wrapper .page .choice_item:nth-child(3) {
  transform: translateX(-1px);
}
.wrapper .page .choice_item:nth-child(4) {
  transform: translateX(-1px);
}
.wrapper .page .choice_item .item_head {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.wrapper .page .choice_item .item_num {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  position: absolute;
  border: 1px solid #e5e5e5;
  left: 0;
}
.wrapper .page .choice_item .item_img img {
  max-height: 50px;
}
.wrapper .page .choice_item .item_name {
  font-family: Druk Wide Medium Cy;
  font-style: normal;
  font-weight: 500;
  font-size: 41px;
  line-height: 130%;
  color: #292929;
  margin-bottom: 50px;
  display: block;
}
.wrapper .page .choice_item .item_link {
  display: inline-block;
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  color: #292929;
}
.wrapper .page .choice_but {
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  padding: 70px 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .choice_but .plus {
  position: absolute;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
  left: 80px;
  top: 50%;
  transform: translate(0, -50%);
}
.wrapper .page .choice_but .plus:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .choice_but .plus:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: #ff570f;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .choice_but .text {
  font-family: Helvetica Neue;
  font-size: 26px;
  line-height: 135%;
  color: #292929;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .choice_but .text:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background: #ff570f;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .choice_but:hover {
  background: #ff570f;
  padding-right: 50%;
}
.wrapper .page .choice_but:hover .plus {
  width: 84px;
  height: 84px;
  left: 50%;
  margin-left: -120px;
}
.wrapper .page .choice_but:hover .plus:before,
.wrapper .page .choice_but:hover .plus:after {
  background: #ffffff;
}
.wrapper .page .choice_but:hover .text {
  margin-left: 120px;
  transform: translate(100%, 0);
  color: white;
}
.wrapper .page .choice_but:hover .text::before {
  background: #292929;
}
.wrapper .page .dillerMap {
  height: 870px;
  width: 100%;
  padding-top: 120px;
  position: relative;
  overflow: hidden;
}
.wrapper .page .dillerMap_box {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 120px;
}
.wrapper .page .dillerMap_box:before {
  content: "";
  display: block;
  height: 120px;
  width: calc(50% + ((100% - 400px) / 6));
  background: #ff570f;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper .page .dillerMap_content {
  position: relative;
}
.wrapper .page .dillerMap_content:before {
  content: "";
  display: block;
  height: 120px;
  width: 1px;
  background: #e5e5e5;
  position: absolute;
  top: -120px;
  right: 0;
}
.wrapper .page .dillerMap_content:after {
  content: "";
  display: block;
  height: 200%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.wrapper .page .dillerMap_map {
  background: #ff570f;
  height: 750px;
  width: 100%;
  padding-left: 500px;
  overflow: hidden;
  position: relative;
}
.wrapper .page .dillerMap_map:before {
  background: linear-gradient(180deg, #ff570f 0%, rgba(255, 87, 15, 0) 100%);
  height: 350px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.wrapper .page .dillerMap_map img {
  transition: all 2s ease-in-out;
}
.wrapper .page .dillerMap_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #292929;
  padding: 40px 60px;
}
.wrapper .page .dillerMap_link {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  position: relative;
}
.wrapper .page .dillerMap_link + .dillerMap_link {
  margin-left: 70px;
}
.wrapper .page .dillerMap_head {
  font-family: Druk Wide Medium Cy;
  font-size: 34px;
  line-height: 130%;
  color: #ffffff;
  margin-left: 40px;
}
.wrapper .page .dillerMap_slider {
  width: 50%;
  margin-left: 36px;
  position: relative;
}
.wrapper .page .dillerMap_slider:after {
  content: "";
  display: block;
  height: 1px;
  width: 200vw;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .page .dillerMap_slider_item {
  position: relative;
}
.wrapper .page .dillerMap_slider_item .normal {
  font-family: Druk Wide Medium Cy;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: #ffa27a;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-100%, -50%);
  left: calc(100% - 34px);
  margin-top: -5px;
}
.wrapper .page .dillerMap_slider_item .bigger {
  font-family: Druk Wide Medium Cy;
  font-size: 120px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0;
  display: block;
  margin-top: 15px;
}
.wrapper .page .dillerMap_slider .slick-track {
  display: flex;
  align-items: baseline;
}
.wrapper .page .dillerMap_slider .slick-list {
  overflow: visible;
}
.wrapper .page .dillerMap_slider .slick-slide:not(.slick-current) {
  cursor: pointer;
}
.wrapper .page .dillerMap_slider .slick-current .dillerMap_slider_item .normal {
  font-family: Druk Wide Medium Cy;
  font-size: 120px;
  line-height: 130%;
  color: #ffffff;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -15px;
}
.wrapper .page .dillerMap_slider .slick-current + .slick-slide .dillerMap_slider_item .normal {
  left: 0;
  transform: translate(60px, -50%);
}
.wrapper .page .dillerMap_slider .slick-arrow {
  border: 0;
  background: transparent;
  color: transparent;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: -60px;
  left: 0;
  cursor: pointer;
}
.wrapper .page .dillerMap_slider .slick-arrow::before {
  content: "";
  display: block;
  width: 79px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5px, -50%);
  background-image: url(../images/str.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wrapper .page .dillerMap_slider .slick-next {
  left: 250px;
}
.wrapper .page .dillerMap_slider .slick-next:before {
  transform: translate(3px, -50%) rotate(180deg);
  left: auto;
  right: 50%;
}
.wrapper .page .dillerMap_conditions {
  list-style: none;
  margin-top: 230px;
  margin-left: -40px;
}
.wrapper .page .dillerMap_conditions li {
  display: block;
  position: relative;
  max-width: 220px;
  padding-left: 50px;
  margin-bottom: 25px;
  font-family: Helvetica Neue;
  font-size: 20px;
  line-height: 135%;
  color: #ffffff;
}
.wrapper .page .dillerMap_conditions li:before {
  content: "";
  display: block;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 19px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
}
.wrapper .page .blockCross {
  display: flex;
  flex-wrap: wrap;
}
.wrapper .page .blockCross_item {
  position: relative;
  padding: 60px 100px;
  padding-right: 120px;
  flex-basis: calc(100% / 2);
  height: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .blockCross_item:nth-child(2n) {
  border-left: 1px solid #e5e5e5;
}
.wrapper .page .blockCross_item:nth-child(2n) .item_img {
  left: auto;
  right: 0;
}
.wrapper .page .blockCross_item:nth-child(1),
.wrapper .page .blockCross_item:nth-child(2) {
  border-bottom: 1px solid #e5e5e5;
}
.wrapper .page .blockCross_item:nth-child(1) .item_img,
.wrapper .page .blockCross_item:nth-child(2) .item_img {
  bottom: auto;
  top: 0;
}
.wrapper .page .blockCross_item .item_name {
  font-family: Druk Wide Medium Cy;
  font-size: 26px;
  line-height: 130%;
  transition: all 0.3s ease-in-out;
  position: relative;
  color: #292929;
  width: 100%;
}
.wrapper .page .blockCross_item .item_name .num {
  font-family: Helvetica Neue;
  font-size: 20px;
  line-height: 135%;
  color: #ffffff;
  position: absolute;
  left: 2px;
  top: 5px;
  transform: translate(-100%, -100%);
}
.wrapper .page .blockCross_item .item_name p {
  font-family: Helvetica Neue;
  font-size: 18px;
  line-height: 135%;
  color: #292929;
  margin-top: 20px;
}
.wrapper .page .blockCross_item .item_link {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-top: auto;
}
.wrapper .page .blockCross_item .item_plus {
  position: absolute;
  left: 100px;
  bottom: 60px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .blockCross_item .item_plus:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
}
.wrapper .page .blockCross_item .item_plus:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: #ff570f;
  position: absolute;
}
.wrapper .page .blockCross_item .item_img {
  position: absolute;
  opacity: 0;
  width: 200%;
  height: 200%;
  bottom: 0;
  z-index: -1;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .blockCross_item:hover {
  background: rgba(0, 0, 0, 0.35);
}
.wrapper .page .blockCross_item:hover .item_name {
  color: #ffffff;
}
.wrapper .page .blockCross_item:hover .item_link {
  opacity: 1;
}
.wrapper .page .blockCross_item:hover .item_plus {
  opacity: 0;
}
.wrapper .page .blockCross_item:hover .item_img {
  opacity: 1;
}
.wrapper .page .priceSlider {
  border-top: 1px solid #e5e5e5;
}
.wrapper .page .priceSlider .pS_head {
  padding-top: 120px;
  padding-bottom: 80px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  border-top: 0;
}
.wrapper .page .priceSlider .pS_head_link {
  font-family: Druk Wide Medium Cy;
  font-size: 34px;
  line-height: 130%;
  color: #292929;
  margin: 0 40px;
}
.wrapper .page .priceSlider .pS_head_link .count {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: #ff570f;
  position: absolute;
  right: 3px;
  top: 5px;
  transform: translate(50%, -50%);
}
.wrapper .page .priceSlider .pS_slider {
  position: relative;
  z-index: 3;
}
.wrapper .page .priceSlider .pS_slider:before {
  content: "";
  display: block;
  width: 400px;
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  left: 100%;
  z-index: 2;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
  user-select: none;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .priceSlider .pS_slider:after {
  content: "";
  display: block;
  width: 400px;
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  right: 100%;
  z-index: 2;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
  user-select: none;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .priceSlider .pS_slider .slider_item {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-right: 0;
  padding: 40px;
  padding-top: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.wrapper .page .priceSlider .pS_slider .slider_item_img {
  padding-top: 310px;
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.wrapper .page .priceSlider .pS_slider .slider_item_img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .page .priceSlider .pS_slider .slider_item_name {
  font-family: Helvetica Neue;
  display: block;
  font-size: 18px;
  line-height: 135%;
  color: #292929;
  margin-bottom: 20px;
}
.wrapper .page .priceSlider .pS_slider .slider_item_inf {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}
.wrapper .page .priceSlider .pS_slider .slider_item_inf_box {
  margin-right: 50px;
  margin-bottom: 20px;
}
.wrapper .page .priceSlider .pS_slider .slider_item_inf_box:last-child {
  margin-right: 0;
}
.wrapper .page .priceSlider .pS_slider .slider_item_inf_name {
  font-family: Helvetica Neue;
  font-size: 11px;
  line-height: 135%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #8a8a8a;
  margin-bottom: 5px;
}
.wrapper .page .priceSlider .pS_slider .slider_item_inf_value {
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 135%;
  color: #292929;
}
.wrapper .page .priceSlider .pS_slider .slider_item_price {
  display: flex;
  align-items: baseline;
}
.wrapper .page .priceSlider .pS_slider .slider_item_price_value {
  font-family: Helvetica Neue;
  font-size: 24px;
  line-height: 135%;
  color: #292929;
}
.wrapper .page .priceSlider .pS_slider .slider_item_price_old {
  font-family: Helvetica Neue;
  font-size: 18px;
  line-height: 135%;
  text-decoration-line: line-through;
  color: #8a8a8a;
  margin-left: 15px;
}
.wrapper .page .priceSlider .pS_slider .slider_item_buts {
  position: absolute;
  top: 100%;
  opacity: 0;
  width: 100%;
  left: 0;
  display: flex;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  pointer-events: none;
}
.wrapper .page .priceSlider .pS_slider .slider_item_buts .btn-gray,
.wrapper .page .priceSlider .pS_slider .slider_item_buts .btn-orange {
  width: 50%;
}
.wrapper .page .priceSlider .pS_slider .slider_item_buts:hover {
  pointer-events: auto;
}
.wrapper .page .priceSlider .pS_slider .slider_item:hover {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.wrapper .page .priceSlider .pS_slider .slider_item:hover .slider_item_buts {
  pointer-events: auto;
  opacity: 1;
}
.wrapper .page .priceSlider .pS_slider .slick-list {
  overflow: visible;
}
.wrapper .page .priceSlider .pS_slider .slick-track {
  display: flex !important;
}
.wrapper .page .priceSlider .pS_slider .slick-slide {
  display: flex;
  flex-direction: column;
  height: auto;
}
.wrapper .page .priceSlider .pS_slider .slick-slide:not(.slick-active) {
  pointer-events: none;
}
.wrapper .page .priceSlider .pS_slider .slick-active + .slick-slide:not(.slick-active) {
  margin-left: -1px;
}
.wrapper .page .priceSlider .pS_slider .slick-arrow {
  position: absolute;
  width: 57px;
  height: 57px;
  background: #292929;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  color: transparent;
  user-select: none;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
.wrapper .page .priceSlider .pS_slider .slick-arrow:before {
  content: "";
  display: block;
  background-image: url(/images/strSmall.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  transform: translate(-50%, -50%) rotate(-180deg);
  filter: contrast(0) brightness(2);
  transition: all 0.3s ease-in-out;
}
.wrapper .page .priceSlider .pS_slider .slick-arrow:hover:before {
  filter: none;
}
.wrapper .page .priceSlider .pS_slider .slick-next {
  left: auto;
  right: 0;
}
.wrapper .page .priceSlider .pS_slider .slick-next:before {
  margin-left: 0;
  transform: translate(-50%, -50%);
}
.wrapper .page .news .content {
  position: relative;
}
.wrapper .page .news .content:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #e5e5e5;
  top: 0;
  pointer-events: none;
  z-index: -1;
  left: calc(100% /3 * 2);
}
.wrapper .page .news .content:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #e5e5e5;
  top: 0;
  pointer-events: none;
  z-index: -1;
  left: calc(100% / 3);
}
.wrapper .page .news_head {
  padding-top: 120px;
  padding-bottom: 80px;
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  border-top: 0;
  display: flex;
}
.wrapper .page .news_head .tabs_head {
  flex-basis: calc(100% / 3 * 2);
}
.wrapper .page .news_head_link {
  font-family: Druk Wide Medium Cy;
  font-size: 34px;
  line-height: 130%;
  color: #292929;
  margin: 0 40px;
}
.wrapper .page .news_all {
  flex-basis: calc(100% / 3);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.wrapper .page .news_all_link {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  color: #292929;
  margin-right: 40px;
}
.wrapper .page .news_box {
  display: flex;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  padding-bottom: 120px;
}
.wrapper .page .news_item {
  flex-basis: calc(100% / 3);
  padding: 30px 40px;
  min-height: 400px;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper .page .news_item:hover {
  background: #f9f9f9;
}
.wrapper .page .news_item:hover .item_plus {
  opacity: 0;
}
.wrapper .page .news_item:hover .item_link {
  opacity: 1;
}
.wrapper .page .news_item .item {
  border-left: 1px solid #e5e5e5;
}
.wrapper .page .news_item .item:first-child {
  border-left: 0;
}
.wrapper .page .news_item .item_date {
  font-family: Helvetica Neue;
  font-size: 14px;
  line-height: 135%;
  color: #8a8a8a;
  margin-bottom: 30px;
}
.wrapper .page .news_item .item_name {
  font-family: Druk Wide Medium Cy;
  font-size: 20px;
  line-height: 130%;
  color: #292929;
  margin-bottom: 30px;
  display: block;
}
.wrapper .page .news_item .item_link {
  font-family: Helvetica Neue;
  font-size: 16px;
  line-height: 135%;
  color: #292929;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-top: auto;
}
.wrapper .page .news_item .item_plus {
  position: absolute;
  left: 40px;
  bottom: 30px;
  height: 40px;
  width: 40px;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.wrapper .page .news_item .item_plus:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ff570f;
  position: absolute;
}
.wrapper .page .news_item .item_plus:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: #ff570f;
  position: absolute;
}
.wrapper .footer {
  width: 100%;
  height: 500px;
  background: #f9f9f9;
}
.wrapper .footer .content {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  position: relative;
  z-index: 2;
  height: 500px;
}
.wrapper .footer .content:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #e5e5e5;
  top: 0;
  pointer-events: none;
  z-index: -1;
  left: calc(100% /3 * 2);
}
.wrapper .footer .content:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  background: #e5e5e5;
  top: 0;
  pointer-events: none;
  z-index: -1;
  left: calc(100% / 3);
}
.imgBg {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.fcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fstart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flexsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hoverLineMoved {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 2px 0;
}
.hoverLineMoved.ready:before {
  animation-name: hoverBorderOutRight;
}
.hoverLineMoved:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background: #ff570f;
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  transform: translateX(101%);
}
.hoverLineMoved:hover:before {
  animation-name: hoverBorderInLeft;
}
@keyframes hoverBorderInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hoverBorderOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(101%);
  }
}
